#page-full-width {
  @include grid-row();
 // margin-top: 3rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }

}

.slick-slide {
	height: 250px;
	width: 100%;
	@include breakpoint(large) {
		height: rem-calc(400);
	}
	img {
		width: 100%;
		overflow: hidden;
	}
	.slider-caption {
		position: absolute;
		z-index: 2;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 0.75rem;
		@include breakpoint(large) {
			bottom: 4rem;
			width: 45%;
			height: auto;
			padding: 1.5rem;
			right: 0;

		}
		background: rgba(19,66,107, 0.6);
		h2, p {
			color: $white;
		}
	}
}

/* Arrows */

.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    line-height: 0;
    font-size: 1.5rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
}

.slick-prev {
    left: -25px;
    [dir="rtl"] & {
        left: auto;
        right: -25px;
    }
}

.slick-next {
    right: -25px;
    [dir="rtl"] & {
        left: -25px;
        right: auto;
    }
}

.home-content {
	margin-top: 1rem;
	padding: 2rem;
	.home-why-rpc {
		@include grid-row();
		.home-why-rpc-img {
			@include breakpoint(medium) {
	      		@include grid-column(5);
	      	}
		}
		.home-why-rpc-info {
			@include breakpoint(medium) {
	      		@include grid-column(7);
	      	}
		}
	}
	.home-callouts {
		@include grid-row();
		padding: 3rem 0;
	}
	.home-callout {
		margin-top: 1.5rem;
		@include breakpoint(medium) {
	      	@include grid-column(4);
	      	margin-top: 0;
	    }
	    .home-callout-img {
	      	@include grid-column(3);
	      	text-align: center;
	    }
	    .home-callout-title {
	    	@include grid-column(9);
	    	text-align: center;
	    	h4 {
		    	font-size: 2.75rem;
		    	color: $red;
		    }
	    }
	    hr {
	    	margin: 1rem 0;
	    }
	    ul li {
	    	margin-bottom: 0.5rem;
	    }
	}
}

.home-callout-list {
	list-style-type: none;
	margin-left: 0;
	p {
		margin-bottom: 0;
		font-weight: bold;
	}
	li:not(:last-child) {

		border-bottom: 1px solid $light-gray;
	}
	small {
		float: right;
	}
}