#page {
//  margin-top: 3rem;
	padding: 2rem;
	h1, h3 {
		color: $red;
		border-bottom: 1px solid $red;
	}
	header {
		@include grid-row();
		padding: 0 1rem;
		margin-bottom: 2rem;
	}
}


//Contact Us
.map-row {
	@include grid-row();
	.address-col, .map-col {
		@include breakpoint(medium) {
	      @include grid-column(6);
	    }
	}
}

.blogpost-entry {
	h3 {
		border-bottom: none !important;
	}
}

.text-red {
  color: $red;
}