.cal-section {
	margin-top: 1.5rem;
	border: 1px solid $medium-gray;
	.cal-head {
		@include grid-row();
		background: $navy;
		color: $white;
		padding: 0.7rem 0 0.5rem 0;
	}
	.cal-item {
		@include grid-row();
		margin: 0.75rem 0 0.5rem 0;
	}
}

.mpo-accordion {
	margin-top: 1.5rem;
}
