#footer-container {
	.top-footer {
		background-color: $gray;
		color: $white;
		padding: 2rem;
		.ft-map {
			@include breakpoint(medium) {
	      		@include grid-column(8);
	      		
	      		h4, p {
		      		margin-left: 2rem;
		      	}
	      	}
			iframe {
				margin-bottom: 1rem;
				@include breakpoint(medium) {
					margin-bottom: 0;
				}
			}
		}
		.ft-twitter {
			margin-top: 1rem;
			@include breakpoint(medium) {
	      		@include grid-column(4);
	      		margin-top: 0;
	      	}
		}
	}
	.bottom-footer {
		background-color: $red;
		@include breakpoint(medium down) {
			text-align: center;
		}
		p, a {
			color: $white;
			@include breakpoint(medium down) {
				margin-bottom: 0;
			}
		}
		padding: 0.75rem 0;
		.ft-copy {
			font-size: 0.8rem;
			@include breakpoint(large) {
	      		@include grid-column(8);
	      	}
		}
		.ft-moxy {
			@include breakpoint(large) {
	      		@include grid-column(4);
	      	}
	      	span a {
	      		@include breakpoint(large) {
	      			float: right;
	      		}
	      		font-family: $moxy-font;
	      		font-size: 1.2rem;
	      	}
		}
	}
}
