
.site-header {
	background-color: $white;
}

.head-logo-container {
	@include grid-row();
	.head-logo {
		@include breakpoint(medium down) {
	      	@include grid-column(12);
	      	text-align: center;
	      	img {
	      		width: 75%;
	      		margin: 1rem 0;
	      	}
	    }
	   	@include breakpoint(large) {
	      	@include grid-column(6);
	      	img {
	      		width: 55%;
	      		margin: 0.75rem 0;
	      	}
	    }
	}
	.head-links {
		@include grid-column(12);
	    @include breakpoint(large) {
	      	@include grid-column(6);
	    }
	    @include breakpoint(medium down) {
	      	text-align: center;
	    }
	    .head-links-content {
	    	margin-top: 1.5rem;
	    }
		ul {
			@include breakpoint(large) {
				text-align: right;
			}
			list-style-type: none;
			margin-left: 0;
			li {
				display: inline-block;
				a {
					color: $navy;
				}
				span {
					padding: 0 0.5rem;
					color: $gray;
				}
			}
		}
		i {
			font-size: 1.3rem;
		}
		.head-search {
			#searchform {
				@include breakpoint(medium down) {
					width: 75%;
					margin: 0 auto;
				}
				@include breakpoint(large) {
					.input-group-field {
						width: 50%;
						float: right;
					}
				}
			}
			.button {
				background-color: $gray;
			}

		}

	}
}