/* Navigation breakpoints */

.desktop-menu, .top-bar-left {
  @include show-for(large);
}

#mobile-menu, .title-bar {
  @include hide-for(large);
}

/* Mobile menu */

.off-canvas {
   > ul.menu {
      height: 100vh;
      padding: 1rem;
   }
}

/* Tablet and desktop menu */

.main-navigation {
   border-top: 2px solid $black;
   border-bottom: 2px solid $black;
   background: $dark-gray;
   padding: 0.5rem 0;
   text-align:center;
   .main-nav {
      display: inline-block;
      @include show-for(large);
   }
   .menu {
      li {
         padding: 0.75rem 0;
         a {
            color: $white;
            font-size: 1;
            font-family: $pathway;
            padding-top: 0;
            padding-bottom: 0;
            @include breakpoint(large) {
               font-size: 1.3rem;
            }
         }

      }
   }

   .dropdown.menu {
      @include breakpoint(large) {
         .sub-menu-columns {
            ul.submenu li {
               display: inline-block;
               float: left;
               width: 300px;
               text-align: left;
               @include breakpoint(large) {
                  &:hover {
                     background: $red;
                     @include transition-all;
                  }
               }
            }
            ul.submenu li:nth-child(even) {
               float: right;

            }
         } 
      }
      .submenu {
         background-color: $navy;
         color: $white;
         border: 0;
         @include breakpoint(large) {
            width: 600px;
         }
      }
   }
   .mobile-nav {
      .menu.nested {
         margin-left: 0;
      }
   }
}

.menu > li > a {
   padding: 0.5rem 0.7rem;
   color: $white;
}

.is-accordion-submenu-parent > a::after {
   border-color: $red transparent transparent;
}

/* Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix" https://css-tricks.com/snippets/css/clear-fix/ */
.post-navigation:before, .post-navigation:after {
	content: "";
    display: table;
}
.post-navigation:after {
	clear:both;
}
/* Text meant only for screen readers. Addresses part of theme-check issue #840. https://github.com/Automattic/_s/blob/master/style.css */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.nav-previous {
	float:left;
}
.nav-next {
	float:right;
}