.sidebar {
  // @include breakpoint(small) {
  //   @include grid-column(12);
  // }

  // @include breakpoint(medium) {
  //   @include grid-column(4);
  //   margin-top: 1rem;
  // }
  .sub-featured-img {
  	border: 1px solid $red;
  	margin-bottom: 1rem;
  }
  .side-box {
  	margin: 1rem 0 2rem 0;
  	@include breakpoint (large) {
  		border: 1px solid $navy;
  	}
  	padding: 1rem;
  	background-color: $white;
  	h4, h6 {
  		font-size: 1.5rem;
		border-bottom: 1px solid $gray;
		color: $gray;
  	}
  	ul {
  		list-style-type: none;
  		margin-left: 0;
  		li {
        border-bottom: 1px solid $light-gray;
  			a {
  				font-family: $pathway;
				  font-size: 1.15rem;
          color: $navy;
          &:hover {
            color: $red;
            @include transition-all;
          }
  			}
  		}
  	}
    .secondary li a {
      color: $navy;
      font-size: 1.25rem;
    }
  }
}

.widget_recent_entries {
  ul {
    list-style-type: disc;
  }
}